html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0;
}

.mud-main-content mud-container {
    margin-top: 1rem;
    margin: 0; /* Centra el contenido */
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* En tu archivo .css principal */

/* Ancho de la barra */
::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* Para scroll horizontal */
}

/* El carril (fondo) de la barra */
/* Truco: Usar margen transparente para que no toque las esquinas del contenedor */
::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 4px; /* Margen arriba y abajo para alejarlo de las esquinas */
    border-radius: 100vh;
    margin-bottom: 12px;
}

/* El "pulgar" (la parte que arrastras) */
::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* Color gris claro (Tailwind gray-300) */
    border-radius: 100vh; /* Redondeo total */
    border: 2px solid transparent; /* Truco para que parezca más delgado y flotante */
    background-clip: content-box;
}

/* Hover sobre el pulgar */
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; /* Color gris medio (Tailwind gray-400) */
    background-clip: content-box;
    border: 2px solid transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.toast-container {
    position: fixed; /* Fija la posición en la ventana */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    /* Estilos adicionales para apariencia si no usas Bootstrap */
}

/* 1. Obligamos a la tabla a tener un comportamiento rígido y ocupar el 100% */
.tabla-gral {
    table-layout: fixed; /* La clave para la uniformidad */
    width: 100%; /* Ocupa todo el ancho disponible del monitor */
}

/* 2. El estilo para CUALQUIER celda (td) dentro de esa tabla */
.tabla-gral td, .tabla-gral th {
    /* Truco visual */
    white-space: wrap; /* Texto en una sola línea */
    overflow: hidden; /* Cortar lo que sobre */
    text-overflow: ellipsis; /* Poner los "..." */
    /* Opcional: un padding para que no se vea pegado */
    padding: 8px;
}

.boton-primario {
    background-color: #007bff;
    color: white;
    border: solid;
    border-color: #007bff;
}

.boton-primario:hover {
    background-color: #00338D !important; /* Gris claro */
    color: white !important;
}

/* Asegura que el icono también cambie de color */
.boton-primario:hover i {
    color: white !important;
}

.boton-secundario {
    background-color: #ffffff;
    color: black;
    border: solid;
    border-color: #D3D3D3;    
}

.boton-secundario:hover {
    background-color: #d3d3d3 !important; /* Gris claro */
    color: white !important;
}

/* Asegura que el icono también cambie de color */
.boton-secundario:hover i {
    color: white !important;
}

.modal-dialog {
    top: 45px;
}

.btn-fijo {
    width: 30px; /* Ajusta según prefieras */
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Elimina el padding para evitar que el icono se desplace */
}