USE [JTBD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anxieties]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anxieties](
	[IdAnxie] [int] IDENTITY(1,1) NOT NULL,
	[AnxieName] [nvarchar](100) NOT NULL,
	[ProjectIdProject] [int] NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
	[UpdatedUser] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[StatusAnxie] [int] NOT NULL,
 CONSTRAINT [PK_Anxieties] PRIMARY KEY CLUSTERED 
(
	[IdAnxie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deparments]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deparments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Deparments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](500) NOT NULL,
	[EmployeeRol] [int] NOT NULL,
	[DeparmentsId] [int] NULL,
	[StatusEmployee] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habits]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[IdHabit] [int] IDENTITY(1,1) NOT NULL,
	[HabitName] [nvarchar](100) NOT NULL,
	[ProjectIdProject] [int] NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
	[UpdatedUser] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[StatusHabit] [int] NOT NULL,
 CONSTRAINT [PK_Habits] PRIMARY KEY CLUSTERED 
(
	[IdHabit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[IdInter] [int] IDENTITY(1,1) NOT NULL,
	[InterName] [nvarchar](100) NOT NULL,
	[InterAge] [int] NOT NULL,
	[InterGender] [int] NOT NULL,
	[InterOccupation] [nvarchar](100) NOT NULL,
	[InterNickname] [nvarchar](100) NOT NULL,
	[InterNSE] [nvarchar](3) NOT NULL,
	[DateInter] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Interviews] PRIMARY KEY CLUSTERED 
(
	[IdInter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[IdProject] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](500) NOT NULL,
	[ProjectDate] [datetime2](7) NOT NULL,
	[DeparmentId] [int] NULL,
	[CategoriesId] [int] NULL,
	[ProjectDescription] [nvarchar](1000) NOT NULL,
	[MaxPushes] [int] NOT NULL,
	[MaxPulls] [int] NOT NULL,
	[RutaImage] [nvarchar](max) NOT NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
	[UpdatedUser] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[StatusProject] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[IdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PullGroups]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PullGroups](
	[IdPull] [int] IDENTITY(1,1) NOT NULL,
	[PullName] [nvarchar](100) NOT NULL,
	[PullDescription] [nvarchar](1000) NOT NULL,
	[ProjectIdProject] [int] NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
	[UpdatedUser] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[StatusPull] [int] NOT NULL,
 CONSTRAINT [PK_PullGroups] PRIMARY KEY CLUSTERED 
(
	[IdPull] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PushesGroups]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PushesGroups](
	[IdPush] [int] IDENTITY(1,1) NOT NULL,
	[PushName] [nvarchar](100) NOT NULL,
	[PushDescription] [nvarchar](1000) NOT NULL,
	[ProjectIdProject] [int] NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
	[UpdatedUser] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[StatusPush] [int] NOT NULL,
 CONSTRAINT [PK_PushesGroups] PRIMARY KEY CLUSTERED 
(
	[IdPush] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[IdStorie] [int] IDENTITY(1,1) NOT NULL,
	[ProjectIdProject] [int] NULL,
	[TitleStorie] [nvarchar](100) NOT NULL,
	[ContextStorie] [nvarchar](4000) NOT NULL,
	[IdInter1] [int] NULL,
	[CreatedUser] [nvarchar](max) NOT NULL,
	[UpdatedUser] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Stories] PRIMARY KEY CLUSTERED 
(
	[IdStorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoriesAnxieties]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoriesAnxieties](
	[IdStorie] [int] NOT NULL,
	[IdAnxie] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoriesHabbits]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoriesHabbits](
	[IdStorie] [int] NOT NULL,
	[IdHabit] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoriesPulls]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoriesPulls](
	[IdStorie] [int] NOT NULL,
	[IdPull] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoriesPushes]    Script Date: 4/9/2025 08:59:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoriesPushes](
	[IdStorie] [int] NOT NULL,
	[IdPush] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Anxieties_ProjectIdProject]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Anxieties_ProjectIdProject] ON [dbo].[Anxieties]
(
	[ProjectIdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_DeparmentsId]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_DeparmentsId] ON [dbo].[Employees]
(
	[DeparmentsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Habits_ProjectIdProject]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Habits_ProjectIdProject] ON [dbo].[Habits]
(
	[ProjectIdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_CategoriesId]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Projects_CategoriesId] ON [dbo].[Projects]
(
	[CategoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_DeparmentId]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Projects_DeparmentId] ON [dbo].[Projects]
(
	[DeparmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PullGroups_ProjectIdProject]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_PullGroups_ProjectIdProject] ON [dbo].[PullGroups]
(
	[ProjectIdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PushesGroups_ProjectIdProject]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_PushesGroups_ProjectIdProject] ON [dbo].[PushesGroups]
(
	[ProjectIdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stories_IdInter1]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Stories_IdInter1] ON [dbo].[Stories]
(
	[IdInter1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Stories_ProjectIdProject]    Script Date: 4/9/2025 08:59:16 ******/
CREATE NONCLUSTERED INDEX [IX_Stories_ProjectIdProject] ON [dbo].[Stories]
(
	[ProjectIdProject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anxieties]  WITH CHECK ADD  CONSTRAINT [FK_Anxieties_Projects_ProjectIdProject] FOREIGN KEY([ProjectIdProject])
REFERENCES [dbo].[Projects] ([IdProject])
GO
ALTER TABLE [dbo].[Anxieties] CHECK CONSTRAINT [FK_Anxieties_Projects_ProjectIdProject]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Deparments_DeparmentsId] FOREIGN KEY([DeparmentsId])
REFERENCES [dbo].[Deparments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Deparments_DeparmentsId]
GO
ALTER TABLE [dbo].[Habits]  WITH CHECK ADD  CONSTRAINT [FK_Habits_Projects_ProjectIdProject] FOREIGN KEY([ProjectIdProject])
REFERENCES [dbo].[Projects] ([IdProject])
GO
ALTER TABLE [dbo].[Habits] CHECK CONSTRAINT [FK_Habits_Projects_ProjectIdProject]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Categories_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Categories_CategoriesId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Deparments_DeparmentId] FOREIGN KEY([DeparmentId])
REFERENCES [dbo].[Deparments] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Deparments_DeparmentId]
GO
ALTER TABLE [dbo].[PullGroups]  WITH CHECK ADD  CONSTRAINT [FK_PullGroups_Projects_ProjectIdProject] FOREIGN KEY([ProjectIdProject])
REFERENCES [dbo].[Projects] ([IdProject])
GO
ALTER TABLE [dbo].[PullGroups] CHECK CONSTRAINT [FK_PullGroups_Projects_ProjectIdProject]
GO
ALTER TABLE [dbo].[PushesGroups]  WITH CHECK ADD  CONSTRAINT [FK_PushesGroups_Projects_ProjectIdProject] FOREIGN KEY([ProjectIdProject])
REFERENCES [dbo].[Projects] ([IdProject])
GO
ALTER TABLE [dbo].[PushesGroups] CHECK CONSTRAINT [FK_PushesGroups_Projects_ProjectIdProject]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_Interviews_IdInter1] FOREIGN KEY([IdInter1])
REFERENCES [dbo].[Interviews] ([IdInter])
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_Interviews_IdInter1]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_Stories_Projects_ProjectIdProject] FOREIGN KEY([ProjectIdProject])
REFERENCES [dbo].[Projects] ([IdProject])
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_Stories_Projects_ProjectIdProject]
GO
ALTER TABLE [dbo].[StoriesAnxieties]  WITH CHECK ADD  CONSTRAINT [FK_StoriesAnxieties_Anxieties] FOREIGN KEY([IdAnxie])
REFERENCES [dbo].[Anxieties] ([IdAnxie])
GO
ALTER TABLE [dbo].[StoriesAnxieties] CHECK CONSTRAINT [FK_StoriesAnxieties_Anxieties]
GO
ALTER TABLE [dbo].[StoriesAnxieties]  WITH CHECK ADD  CONSTRAINT [FK_StoriesAnxieties_Stories] FOREIGN KEY([IdStorie])
REFERENCES [dbo].[Stories] ([IdStorie])
GO
ALTER TABLE [dbo].[StoriesAnxieties] CHECK CONSTRAINT [FK_StoriesAnxieties_Stories]
GO
ALTER TABLE [dbo].[StoriesHabbits]  WITH CHECK ADD  CONSTRAINT [FK_StoriesHabbits_Habits] FOREIGN KEY([IdHabit])
REFERENCES [dbo].[Habits] ([IdHabit])
GO
ALTER TABLE [dbo].[StoriesHabbits] CHECK CONSTRAINT [FK_StoriesHabbits_Habits]
GO
ALTER TABLE [dbo].[StoriesHabbits]  WITH CHECK ADD  CONSTRAINT [FK_StoriesHabbits_Stories] FOREIGN KEY([IdStorie])
REFERENCES [dbo].[Stories] ([IdStorie])
GO
ALTER TABLE [dbo].[StoriesHabbits] CHECK CONSTRAINT [FK_StoriesHabbits_Stories]
GO
ALTER TABLE [dbo].[StoriesPulls]  WITH CHECK ADD  CONSTRAINT [FK_StoriesPulls_PullGroups] FOREIGN KEY([IdPull])
REFERENCES [dbo].[PullGroups] ([IdPull])
GO
ALTER TABLE [dbo].[StoriesPulls] CHECK CONSTRAINT [FK_StoriesPulls_PullGroups]
GO
ALTER TABLE [dbo].[StoriesPulls]  WITH CHECK ADD  CONSTRAINT [FK_StoriesPulls_Stories] FOREIGN KEY([IdStorie])
REFERENCES [dbo].[Stories] ([IdStorie])
GO
ALTER TABLE [dbo].[StoriesPulls] CHECK CONSTRAINT [FK_StoriesPulls_Stories]
GO
ALTER TABLE [dbo].[StoriesPushes]  WITH CHECK ADD  CONSTRAINT [FK_StoriesPushes_PushesGroups] FOREIGN KEY([IdPush])
REFERENCES [dbo].[PushesGroups] ([IdPush])
GO
ALTER TABLE [dbo].[StoriesPushes] CHECK CONSTRAINT [FK_StoriesPushes_PushesGroups]
GO
ALTER TABLE [dbo].[StoriesPushes]  WITH CHECK ADD  CONSTRAINT [FK_StoriesPushes_Stories] FOREIGN KEY([IdStorie])
REFERENCES [dbo].[Stories] ([IdStorie])
GO
ALTER TABLE [dbo].[StoriesPushes] CHECK CONSTRAINT [FK_StoriesPushes_Stories]
GO
USE [master]
GO
