@page "/"
@using Microsoft.AspNetCore.Components.Authorization

@rendermode InteractiveServer

@inject ILogger<Home> Logger
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Home</PageTitle>
<p>@username</p>

<h4>JTBD WEB APP – Empresas Polar</h4>
<br />

<p>
<strong>Qué es el método de Ward</strong>
    <br />
    El método de Ward es un método jerárquico de agrupamiento que busca minimizar la varianza total dentro de un grupo.
</p>

<br />

<p>
    <strong>Para qué utilizamos el método de Ward en la App Web JTBD</strong>
    <br />
    En la aplicación web JTBD, el método de Ward se emplea para agrupar las historias creadas durante las entrevistas en clusters.
    Este proceso se basa en las agrupaciones previas de Pushes y Pulls, lo que permite organizar los datos de manera jerárquica y minimizar 
    la varianza dentro de cada grupo, asegurando que los elementos dentro de cada clúster sean lo más similares posible entre sí.
</p>

@code{
    private string username = "Auxiliar";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
                username = authState.User.Identity.Name.Split(@"\")[1].Trim();

        }
        catch (Exception ex)
        {
            //Logger.LogError(ex.Message);
            await this.JSRuntime.InvokeVoidAsync("console.log", ex.Message);
        }
    }
}