@page "/"
@rendermode InteractiveServer
@inject ILogger<Home> Logger
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<p>
<strong>Qué es el método de Ward</strong>
    <br />
    El método de Ward es un método jerárquico de agrupamiento que busca minimizar la varianza total dentro de un grupo.
</p>

<br />

<p>
    <strong>Para qué utilizamos el método de Ward en la App Web JTBD</strong>
    <br />
    En la aplicación web JTBD, el método de Ward se emplea para agrupar las historias creadas durante las entrevistas en clusters.
    Este proceso se basa en las agrupaciones previas de Pushes y Pulls, lo que permite organizar los datos de manera jerárquica y minimizar 
    la varianza dentro de cada grupo, asegurando que los elementos dentro de cada clúster sean lo más similares posible entre sí.
</p>