@page "/"
@rendermode InteractiveServer
@inject ILogger<Home> Logger
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Home</PageTitle>

@if (cargando)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5); align-content:center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-cargando text-lg-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private bool cargando = false;
    private string username = "dusa-user"; // Ojo: esto hardcodeado hará que se renderice antes de auth
    private string usernamelargo = "dusa-user";
    private int userdepart = 0;
    private int userrol = 0;

    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    [Inject] private IEmployee repouser { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
                if (authState.User.Identity != null && authState.User.Identity.IsAuthenticated)
                {
                    usernamelargo = authState.User.Identity.Name ?? "";
                    var splitName = authState.User.Identity.Name?.Split(@"\");
                    if (splitName != null && splitName.Length > 1)
                    {
                        username = splitName[1].Trim();
                    }
                    var userrolaux = await SessionStorage.GetAsync<string>("UserRol");
                    if (!string.IsNullOrEmpty(userrolaux.Value))
                    {
                        userrol = int.Parse(userrolaux.Value);
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(username))
                        {
                            Employee user = await repouser.GetByUsernameAsync(username);
                            if (user != null)
                            {
                                userrol = user.EmployeeRol;
                                userdepart = user.Deparments.Id;

                                await SessionStorage.SetAsync("UserRol", user.EmployeeRol.ToString());
                                await SessionStorage.SetAsync("UserDepart", user.Deparments.Id.ToString());
                                await SessionStorage.SetAsync("UserName", username);
                                await SessionStorage.SetAsync("UserNameLargo", usernamelargo);                                
                            }
                        }
                    }
                }
            }
            catch{}
            NavigationManager.NavigateTo($"proyect/proyectos");
        }
        // No es necesario devolver base.OnAfterRenderAsync, solo llámalo
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        cargando = true;
        Logger.LogInformation("Home component initialized.");
        await Task.CompletedTask;
        cargando = false;
    }
}
