@page "/proyect/detalle/{IdStorie}"
@using Jtbd.Application.Interfaces
@using Jtbd.Domain.Entities
@using Microsoft.AspNetCore.Components.Authorization

@inject IJSRuntime JSRuntime
@inject IConfiguration configuration
@inject ILogger<Proyecstories> Logger
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Historia Detalle</PageTitle>

<div class="row align-content-center">
    <div class="col-lg-10">
        <h3 class="text-center mt-4">Gestión de Historias Característica</h3>
    </div>
</div>

<div class="row align-content-center">
    <div class="col-lg-6">
        <table class="table table-striped table-hover">
            <thead class="table-secondary bg-opacity-25">
                <tr>
                    <th>Proyecto</th>
                    <th>#</th>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td>@(entidadStorie.Project == null? "-": entidadStorie.Project.ProjectName) </td>
                    <td>@entidadStorie.IdStorie</td>
                    <td>@entidadStorie.TitleStorie</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-10">
        <table class="table table-striped table-hover">
            <thead class="table-secondary bg-opacity-25">
                <tr>
                    <th>Contexto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@entidadStorie.ContextStorie</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row align-content-center border-primary">
    <div class="col-lg-5">
        <label><strong>Pushes</strong></label>
        <br />
        <button class="btn btn-primary btn-sm" @onclick="MostrarPushes">
           <i class="bi bi-plus"></i> Pushes
        </button>
    </div>
    <div class="col-lg-5">
        <label><strong>Pulls</strong></label>
        <br />
        <button class="btn btn-primary btn-sm" @onclick="MostrarPulls">
           <i class="bi bi-plus"></i> Pulls
        </button>
    </div>
</div>
<div class="row align-content-center border-primary">
    <div class="col-lg-5">
        <label><strong>Ansiedades</strong></label>
        <br />
        <button class="btn btn-primary btn-sm" @onclick="MostrarHabits">
           <i class="bi bi-plus"></i> Ansiedades
        </button>
    </div>
    <div class="col-lg-5">
        <label><strong>Hábitos</strong></label>
        <br />
        <button class="btn btn-primary btn-sm" @onclick="MostrarAnxies">
           <i class="bi bi-plus"></i> Hábitos
        </button>
    </div>
</div>


@code {
    [Parameter] 
    public string idStorie { get; set; }

    private Stories entidadStorie = new ();
    private string username = "Auxiliar";
    [Inject] private IStories repostorie { get; set; } = null!;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
                username = authState.User.Identity.Name.Split(@"\")[1].Trim();

        }
        catch (Exception ex)
        {
            //Logger.LogError(ex.Message);
            await this.JSRuntime.InvokeVoidAsync("console.log", ex.Message);
        }

        try
        {
            entidadStorie = (Stories)await repostorie.GetByIdAsync(int.Parse(idStorie));
        }
        catch (Exception ex)
        {
            //Logger.LogError(ex.Message);
            await this.JSRuntime.InvokeVoidAsync("console.log", ex.Message);
        }
    }

    private void MostrarPushes()
    {
        try
        {
            
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarPulls()
    {
        try
        {
            
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarHabits()
    {
        try
        {
            
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    private void MostrarAnxies()
    {
        try
        {
            
        }
        catch(Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }
}