<div draggable="true" @ondragstart="HandleDragStart" style="border: 1px solid black; padding: 10px; margin: 5px;">
    @ItemName
</div>

@code {
    [Parameter]
    public string ItemName { get; set; }

    [Parameter]
    public EventCallback<string> OnDragStartCallback { get; set; }

    private async Task HandleDragStart(DragEventArgs e)
    {
        //e.DataTransfer.setData("text/plain", ItemName); // Store data to be transferred
        await OnDragStartCallback.InvokeAsync(ItemName);
    }
}
