<div @ondragover:preventDefault="true" @ondrop="HandleDrop" style="border: 2px dashed blue; padding: 20px; min-height: 100px;">
    Drop items here
    @foreach (var droppedItem in DroppedItems)
    {
        <p>Dropped: @droppedItem</p>
    }
</div>

@code {
    [Parameter]
    public List<string> DroppedItems { get; set; } = new List<string>();

    private void HandleDrop(DragEventArgs e)
    {
        var data = e.DataTransfer.DropEffect = "move";
        if (!string.IsNullOrEmpty(data))
        {
            DroppedItems.Add(data);
        }
    }
}