@inject AuthenticationStateProvider authenticationStateProvider

@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

<MudLayout>
    <MudAppBar Elevation="5" Class="navbar-top" Style="background: linear-gradient(150deg, #00338D  0%, #00338D  100%);">

        <!-- Contenido de la izquierda -->
        <a href="/"><MudImage Src="LogoInnova.png" Alt="Empresas Polar" /></a>

        <!-- Opcional: Si quieres un título junto al logo principal -->
        @* <MudText Typo="Typo.h4" Style="color: white; margin-left: 10px;">Tu Título</MudText> *@

        <!-- El Spacer empuja todo lo que sigue hacia la derecha -->
        <MudSpacer />
        @if (!string.IsNullOrEmpty(username))
        {
            <!-- Contenido de la derecha -->
            <MudText Typo="Typo.body1" Style="color: white; margin-right: 16px;">
                <MudStack Row="true" Spacing="4" Class="ml-6">
                    <MudButton Variant="Variant.Text" Style="color: white;" href="proyect/proyectos"><i class="bi bi-clipboard-data m-1"></i> Proyectos</MudButton>
                    @if (userrol == 1)
                    {
                        <MudButton Variant="Variant.Text" Style="color: white;" href="admin/categorias"><i class="bi bi-bezier2 m-1"></i> Categorías</MudButton>
                        <MudButton Variant="Variant.Text" Style="color: white;" href="admin/departamentos"><i class="bi bi-bezier m-1"></i> Departamentos</MudButton>
                        <MudButton Variant="Variant.Text" Style="color: white;" href="admin/usuarios"><i class="bi bi-person m-1"></i> Usuarios</MudButton>
                    }
                </MudStack>
            </MudText>
        }
        <div class="col-lg-5 d-flex justify-content-end mb-3">
            <strong>@usernamelargo</strong>
        </div>

    </MudAppBar>
    @* Needed for snackbars *@
    <MudSnackbarProvider />

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Style="margin-top: 3rem">
            @if (!string.IsNullOrEmpty(username))
            {       
                @Body
            }
            else
            {
                <PageTitle>No Autorizado</PageTitle>
                <div class="row align-content-center">
                    <div class="col-lg-11">
                        <div class="col-lg-11">
                            <h3 class="text-center mt-4">No Autorizado</h3>
                            <h6>@usernamelargo</h6>
                            <h6>@username</h6>
                        </div>
                    </div>
                </div>
            }
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;
    private string username = "dusa-user"; // Ojo: esto hardcodeado hará que se renderice antes de auth
    private string usernamelargo = "dusa-user";
    public int userrol = 0;
    [Inject] private IEmployee repouser { get; set; } = null!;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity != null && authState.User.Identity.IsAuthenticated)
            {
                usernamelargo = authState.User.Identity.Name ?? "";
                var splitName = authState.User.Identity.Name?.Split(@"\");
                if (splitName != null && splitName.Length > 1)
                {
                    username = splitName[1].Trim();
                }
                if (!string.IsNullOrEmpty(username))
                {
                    Employee user = await repouser.GetByUsernameAsync(username);
                    if (user != null)
                    {
                        userrol = user.EmployeeRol;
                    }
                }
            }
        }
        catch { }
    }
}
<style>
    .navbar-top {
        width: 100vw !important;
        /* Ajusta la posición si es necesario */
        position: absolute;
        left: 0;
        right: 0;
    }
</style>

<script language="javascript">
    // Helper para timeouts
    window.TimeoutHelper = {
        showAndHide: function (elementId, timeoutMs) {
            const divElement = document.getElementById(elementId);
            if (divElement) {
                divElement.style.display = 'block';
                setTimeout(function () {
                    divElement.style.display = 'none';
                }, timeoutMs);
            }
        }
    };
</script>

