@using Jtbd.Application.Interfaces
@using Jtbd.Domain.Entities
@using Jtbd.Webapp.Service
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authenticationStateProvider

@inherits LayoutComponentBase

@* @if (cargando)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-cargando text-lg-center">
                        <div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} *@

@if (!string.IsNullOrEmpty(username))
{
    <div class="page">
        <div class="sidebar" id="sidebardemo">
            <div class="sidebar-content">
                @if (!string.IsNullOrEmpty(username))
                {
                    <NavMenu userrol="@userrol.ToString()" />
                }
            </div>            
        </div>

        <div class="main-content" id="maindemo" style="width:100%">
            <main>
                @*  <button type="button" class="btn btn-xs btn-primary" onclick="toggleBootstrapCollapse();">
                ☰
            </button> *@
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            <h5><strong>&nbsp;&nbsp;&nbsp;&nbsp;JTBD WEB APP – Empresas Polar</strong></h5>
                        </p>
                    </div>
                    <div class="col-lg-5 d-flex justify-content-end mb-3">
                        <strong>@usernamelargo</strong>
                    </div>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>

       
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    @if (mostrarAlerta)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="divAlerta">
            @mensajeAlerta
            <button type="button" class="btn-close" @onclick="() => mostrarAlerta = false"></button>
        </div>
    }
}
else
{
    <PageTitle>No Autorizado</PageTitle>

    <div class="row align-content-center">
        <div class="col-lg-11">
            <div class="col-lg-11">
                <h3 class="text-center mt-4">No Autorizado</h3>
                <h6>@usernamelargo</h6>
                <h6>@username</h6>
            </div>
        </div>
    </div>
}


@code{
    private string username = "dusa-user";
    private string usernamelargo = string.Empty;
    private int userrol = 5;
    private string? mensajeAlerta;
    private bool mostrarAlerta = false;
    private bool cargando = false;

    [Inject] private IEmployee repouser { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        cargando = true;
        try
        {
            var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (authState.User.Identity.IsAuthenticated)
            {
                usernamelargo = authState.User.Identity.Name;
                username = authState.User.Identity.Name.Split(@"\")[1].Trim();                
                Employee user = await repouser.GetByUsernameAsync(username);

                if (user != null)
                {
                    userrol = user.EmployeeRol;
                }
            }
        }
        catch (Exception ex)
        {
            mensajeAlerta = ex.Message;
            mostrarAlerta = true;
        }
        cargando = false;
    }
}

<script language="javascript">
    $(document).ready(function () {
            var EstadoMenu = localStorage.getItem('sidebarState');

            if(EstadoMenu == "collapsed"){
               var sidebar = document.getElementById("sidebardemo");
               var mainContent = document.getElementById("maindemo");
               var miDiv = document.getElementById('divtexto');
               var miDiv2 = document.getElementById('diviconos');

               if (sidebar) {
                   sidebar.classList.toggle("collapsed");
                   miDiv.style.display = 'none';
                   miDiv2.style.display = 'block';
               } else {
                   console.error("Error: No se encontró elementos ('sidebar')");
               }
               if (mainContent) {
                   mainContent.classList.toggle("expanded");
               } else {
                   console.error("Error: No se encontró elementos ('main-content')");
               }
            }
            console.log("Estado del menú: " + EstadoMenu);
       });
       
       window.TimeoutHelper = {
        showAndHide: function (elementId, timeoutMs) {
            const divElement = document.getElementById(elementId);

            if (divElement) {
                // Ya no necesitas 'display: block;' aquí si usas OnAfterRenderAsync
                // porque Blazor ya lo ha puesto visible condicionalmente.
                // Pero lo dejamos como seguro.
                divElement.style.display = 'block';

                setTimeout(function () {
                    divElement.style.display = 'none';
                }, timeoutMs);
            }
        }
    };

    function toggleBootstrapCollapse(event) {
        if (event.target.classList.contains('navbar-toggler')) {
            var sidebar = document.getElementById("sidebardemo");
            var mainContent = document.getElementById("maindemo");
            var miDiv = document.getElementById('divtexto');
            var miDiv2 = document.getElementById('diviconos');

            // Asegúrate de que los elementos existan antes de intentar usarlos
            if (sidebar) {
                sidebar.classList.toggle("collapsed");
                if(sidebar.classList.contains('collapsed')){
                    miDiv.style.display = 'none';
                    miDiv2.style.display = 'block';
                }else{
                    miDiv2.style.display = 'none';
                    miDiv.style.display = 'block';
                }
            } else {
                console.error("Error: No se encontró elementos ('sidebar')");
            }
            if (mainContent) {
                mainContent.classList.toggle("expanded");
            } else {
                console.error("Error: No se encontró elementos ('main-content')");
            }
            localStorage.setItem('sidebarState', sidebar.classList.contains('collapsed') ? 'collapsed' : 'expanded');
        }        
    }
</script>