@using Jtbd.Webapp.Service
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid align-content-center">
        <a class="navbar-brand" href="">
            <img src="logoinnova.png" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div><i class="bi bi-house-door m-1"></i> Home</div>
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyect/proyectos">
                <div><i class="bi bi-clipboard-data m-1"></i> Proyectos</div>
            </NavLink>
        </div>

        @if (userrol == "1")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"admin/categorias/{userrol}")">
                    <div><i class="bi bi-bezier2 m-1"></i> Categorías</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"admin/departamentos/{userrol}")">
                    <div><i class="bi bi-bezier m-1"></i> Departamentos</div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"admin/usuarios/{userrol}")">
                    <div><i class="bi bi-person m-1"></i> Usuarios</div>
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    [Parameter]
    public string userrol { get; set; }

    private bool isExpandSubNavP = false;
    private bool isExpandSubNav = false;
}