@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jtbd.Webapp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <p><i class="bi bi-house-door m-1"></i> Home</p>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="() => isExpandSubNavP = !isExpandSubNavP">
                <p><i class="bi bi-list-nested m-1"></i> Procesos</p>
            </NavLink>

            @if (isExpandSubNavP)
            {
                <ul class="nav flex-column submenu">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="proyect/interview" @onclick="() => isExpandSubNavP = !isExpandSubNavP">
                            <p><i class="bi bi-person-check m-1"></i> Entrevistados</p>
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="proyect/proyectos" @onclick="() => isExpandSubNavP = !isExpandSubNavP">
                            <p><i class="bi bi-clipboard-data m-1"></i> Proyectos</p>
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="proyect/proyecpushes" @onclick="() => isExpandSubNavP = !isExpandSubNavP">
                            <p><i class="bi bi-grid m-1"></i> Pushes</p>
                        </NavLink>
                    </li>
                </ul>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="() => isExpandSubNav = !isExpandSubNav">
                <p><i class="bi bi-list-nested m-1"></i> Admin</p>
            </NavLink>

            @if (isExpandSubNav)
            {
                <ul class="nav flex-column submenu">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/categorias" @onclick="() => isExpandSubNav = !isExpandSubNav">
                            <p><i class="bi bi-bezier2 m-1"></i> Categorias</p>
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/departamentos" @onclick="() => isExpandSubNav = !isExpandSubNav">
                            <p><i class="bi bi-bezier m-1"></i> Departamentos</p>
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/usuarios" @onclick="() => isExpandSubNav = !isExpandSubNav">
                            <p><i class="bi bi-person m-1"></i> Usuarios</p>
                        </NavLink>
                    </li>
                </ul>
            }
        </div>
    </nav>
</div>

@code {
    private bool isExpandSubNavP = false;
    private bool isExpandSubNav = false;
}